node_modules/
/config.json
/blankConfig.json
/nitrodelay.json
/afk.json
/commands.json
/currentAfks.json
/processes.json
/acceptedleaverequests.json
/currentleaverequests.json
oldStuff/
commands/test.js
commands/oldafk.js
commands/oldsetup.js
commands/mbrtest.js
commands/russianroulette.js
commands/oldafk5-7-20.js
commands/imagetotext.js
eng.traineddata
unusedCommands/
