node_modules/
/config.json
/blankConfig.json
/nitrodelay.json
oldStuff/
commands/test.js
commands/oldafk.js
commands/oldsetup.js
commands/mbrtest.js
commands/russianroulette.js
commands/oldafk5-7-20.js
eng.traineddata
unusedCommands/
